Project3/[Ll]ibrary/
Project3/[Tt]emp/
Project3/[Oo]bj/
Project3/[Bb]uild/
Project3/[Bb]uilds/
Project3/Assets/AssetStoreTools*

ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.pidb.meta
sysinfo.txt

*.apk
*.unitypackage

*~